# Virtual environment
venv/

# Cached API data
data/cache/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/
